[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
kivy-garden-draggable = {editable = true,path = "."}

[packages]
kivy = {extras = ["base"],version = "*"}
asynckivy = "<0.4,>=0.3"

[requires]
python_version = "3.7"
