name: Garden flower
on: [push, pull_request]

jobs:
  linux_test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
    env:
      DISPLAY: ':99.0'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup env
      run: |
        sudo apt-get update
        sudo apt-get -y install xvfb
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1280x720x24 -ac +extension GLX
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest flake8 kivy[base]
    - name: Install flower
      run: python -m pip install -e .
    - name: Lint with flake8
      run: make style
    - name: Test with pytest
      run: make test

  windows_test:
    runs-on: windows-latest
    env:
      KIVY_GL_BACKEND: angle_sdl2
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip virtualenv wheel setuptools
        python -m pip install pytest flake8 kivy[base]
    - name: Install flower
      run: python -m pip install -e .
    - name: Test with pytest
      run: make test
